<app-loading-spinner *ngIf="loading"></app-loading-spinner>

<div *ngIf="!loading" class="container">
    <div class="d-flex align-items-end">
        <button [routerLink]="'..'" class="m-2" mat-fab color="primary" aria-label="back button" matTooltip="Volver a usuarios">
                    <mat-icon>arrow_back_ios_new</mat-icon>
                </button>
        <h1 appTitles>Detalles del Alumno</h1>
    </div>
    <mat-card *ngIf="!loading">
        <mat-card-content>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Datos Personales </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list>                    
                        <div class="row">
                            <mat-list-item>
                                <div class="col-2" appItemName>Nombre:</div>
                                <div class="col-10">{{ student.name }} {{ student.lastname }}</div>  
                            </mat-list-item>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-list>
                </mat-card-content>  
                <mat-card-actions align="end">
                    <button [ngClass]="user!.rol === 'admin' ? '' : 'd-none'" (click)="onClickEdit()" 
                        class="m-2" mat-mini-fab color="primary" aria-label="edit button" matTooltip="Editar datos personales del alumno">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button [ngClass]="user!.rol === 'admin' ? '' : 'd-none'" (click)="onDeleteStudent()" 
                            class="m-2" mat-mini-fab color="primary" aria-label="delete button" matTooltip="Eliminar al alumno">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
            <mat-card class="mt-4">
                <mat-card-header>
                    <mat-card-title>Cursos a los que se ha inscripto </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-list *ngIf="inscriptionsData.length > 0 else zeroinscriptions">                    
                        <div class="row" *ngFor="let inscription of inscriptionsData">
                            <mat-list-item>
                                <div class="col-1"><em class="fs-2 fa-brands fa-{{ inscription.course | courseIcon }}"></em></div>
                                <div class="col-10">{{ inscription.course }}</div>  
                                <div [ngClass]="user!.rol === 'admin' ? '' : 'd-none'" class="col-1" (click)="onDeleteInscription(inscription)">
                                    <mat-icon matTooltip="Eliminar inscripcion de este curso">delete</mat-icon>
                                </div>
                            </mat-list-item>
                            <mat-divider></mat-divider>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-list>
                    <ng-template #zeroinscriptions>
                        No hay cursos para listar
                    </ng-template>
                </mat-card-content>  
                <mat-card-actions align="end">
                    <button [ngClass]="user!.rol === 'admin' ? '' : 'd-none'" (click)="onClickInscription()" 
                        class="m-2" mat-mini-fab color="primary" aria-label="edit button" matTooltip="Inscribir a un curso">
                        <mat-icon>history_edu</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>

