<mat-toolbar color="primary">  
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon *ngIf="!isOpen else close">arrow_forward_ios</mat-icon>
    <ng-template #close>
      <mat-icon>arrow_back_ios</mat-icon>
    </ng-template>
  </button>  
    <span>Gestión de Estudiantes</span>
    <mat-icon>chevron_right</mat-icon>
    <span>{{ title$ | async }}</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu" matTooltip="Opciones">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item disabled>
          <mat-icon>person</mat-icon>
          <span>{{ user!.name }} {{ user!.lastname }} </span>
        </button>
        <button mat-menu-item [routerLink]="'/dashboard/users'" [ngClass]="user!.rol === 'admin' ? '' : 'd-none'">
          <mat-icon>manage_accounts</mat-icon>
          <span>Usuarios</span>
        </button>
        <button mat-menu-item (click)="logOut()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
    </mat-menu>
</mat-toolbar>

