<mat-toolbar color="primary">
  <span class="spacer"></span>
  <span>Menu</span>
  <span class="spacer"></span>
</mat-toolbar>
<mat-selection-list [multiple]="false" class="list">
  <button [routerLink]="'/dashboard'" mat-menu-item><mat-icon>people</mat-icon>Alumnos</button>
  <button [routerLink]="'/dashboard/courses'" mat-menu-item><mat-icon>school</mat-icon>Cursos</button>
  <button [routerLink]="'/dashboard/inscriptions'"  mat-menu-item><mat-icon>history_edu</mat-icon>Inscripciones</button>
  <mat-divider></mat-divider>
  <button [routerLink]="'/dashboard/users'" [ngClass]="user!.rol === 'admin' ? '' : 'd-none'" mat-menu-item><mat-icon>manage_accounts</mat-icon>Usuarios</button>
  <button (click)="logOut()" mat-menu-item><mat-icon>logout</mat-icon>Cerrar Sesión</button>
</mat-selection-list>

